<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="task.title"
               class="form-control"
               id="title"
               name="title"
               placeholder="Enter the title"
               required #title="ngModel">
      </div>
      <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
